<div id="popup">
  <h1 class="card-title">Ticket Form</h1>
  <h6 class="card-title" id="flightid"></h6>
  <form name="ticketform" id="ticketform">
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" class="form-control" name="name" required="" />
    </div>

    <div class="form-group">
      <label for="surname">Surname:</label>
      <input id="surname" class="form-control" name="surname" required="" />
    </div>
    <div class="form-group">
      <label for="passportid">Passport:</label>
      <input
        id="passportid"
        class="form-control"
        name="passportid"
        required=""
      />
    </div>
    <br />
    <div class="form-group">
      <label for="seat">seat</label>
      <select id="seat" name="seat"></select>
    </div>
    <br />
    <div class="form-group no-margin">
      <div
        class="btn-toolbar justify-content-between"
        role="toolbar"
        aria-label="Toolbar with button groups"
      >
        <div class="btn-group me-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-danger btn-block" id="cancel">
            Cancel
          </button>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <button
            type="button"
            class="btn btn-success btn-block"
            id="addticket"
          >
            Add Ticket
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
