<div id="popup">
  <h4 class="card-title">Login</h4>
  <form action="/cart" method="POST">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        id="name"
        class="form-control"
        name="name"
        required=""
        autofocus=""
      />
    </div>

    <div class="form-group">
      <label for="surname">Surname:</label>
      <input
        id="surname"
        class="form-control"
        name="surname"
        required=""
        autofocus=""
      />
    </div>
    <div class="form-group">
      <label for="passportid">Passport:</label>
      <input
        id="passportid"
        class="form-control"
        name="passportid"
        required=""
        autofocus=""
      />
    </div>
    <div class="form-group">
      <label for="seat">seat</label>
      <select id="seat" name="seat"></select>
    </div>
    <div class="form-group no-margin">
      <input class="btn btn-primary btn-block" type="submit" value="Sign in" />
    </div>
  </form>
</div>
